<%- include('partials/header') -%>

<div class="container">
  <h2>Submit a ticket</h2>

  <form action="/ticket/createTicket" method="POST">
    <div class="mb-3">
      <label for="shortDesc" class="form-label">Short Description</label>
      <input type="text" class="form-control" id="shortDesc" name="shortDesc">
    </div>
    <div class="mb-3">
      <label for="details" class="form-label">Detailed Description</label>
      <textarea class="form-control" id="details" name="details"></textarea>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="hardware" value="hardware">
      <label class="form-check-label" for="hardware">Hardware</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="software" value="software">
      <label class="form-check-label" for="software">Software</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="account" value="account" disabled>
      <label class="form-check-label" for="account">Account</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="passwordReset" value="passwordReset" disabled>
      <label class="form-check-label" for="passwordReset">Password reset</label>
    </div>
    

    <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
  </form>
</div>

<%- include('partials/footer') -%>