<%- include('partials/header') -%>

<main class="container mt-5">
    <h1 class="text-center mb-5 text-primary">Help Desk</h1>
    <div class="row justify-content-around mt-15">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
    <div class="row justify-content-around mt-5">
        <img class="img-fluid" src="/imgs/undraw_shared_workspace_re_3gsu.svg" alt="hero image">
    </div>
</main>

<%- include('partials/footer') -%>